{% extends 'homepage/base.html' %}

{% block a3 %}active{% endblock %}

{% block main %}

    <h3 class="display-3">Blog</h3>

    {% for post,images,count in posts %}
        <hr>
        <h2>{{post.title}}</h2>
        <h5>{{post.author}} - {{post.date}}</h5>
        <p class="lead">{{post.text | safe | linebreaks}}</p>
        <div class="row">
            {% if count == 1 %}
                <div class="col-lg">
                    <img class="img-fluid d-block mx-auto py-3" src="{{images.0.image.url}}">
                </div>
            {% else %}
                {% for image in images %}
                    <div class="col-lg-6">
                        <img class="img-fluid d-block mx-auto py-3" src="{{image.image.url}}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
