{% extends 'homepage/base.html' %}

{% load static %}

{% block title %} - Subscribe{% endblock %}

{% block a5 %}active{% endblock %}

{% block main %}
    <h3 class="display-3">Subscribe</h3>
    <p class="lead">Want to learn more about physics and get involved with Duke SPS? Subscribe to our listserv by filling out the form below or emailing Gia Jadick (<a href="mailto:gjl13@duke.edu">glj13@duke.edu</a>).</p>

    <form action="mailto:atf24@duke.edu" method="post" enctype="text/plain">
        <div class="form-group">
            <label for="name">Full Name</label>
            <input class="form-control" id="name">
        </div>

        <div class="form-group">
            <label for="email">Duke Email</label>
            <input class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control box-large align-text-top" id="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <img class="d-block mx-auto pt-5" src="{% static 'homepage/newtonscradle.gif' %}" alt="" width="800px">
    <p class="lead text-center pt-3">Newton’s cradle showing off the conservation principles of momentum and energy.</p>
{% endblock %}

{% block bonusstyles %}
    <style>
        .box-large {
            min-height: 200px;
        }
    </style>
{% endblock %}
