body {
    padding-top: 100px;
}

.rcol1 {
    max-width: 800px;
}

.navbar {
    background-color: rgb(24, 155, 197) !important;
}

.sm-icon {
    border-radius: 10px;
}

.anchor {
    padding-top: 88px;
    margin-top: -88px;
}

.banner-top {
    margin-top: -18px;
}

.box-large {
    min-height: 200px;
}
